export OCI_ROOT_URL="http://localhost:5001"
export OCI_NAMESPACE="luminous/luminous"
export OCI_USERNAME="luminous"
export OCI_PASSWORD="luminous"

export OCI_TEST_PULL=1
export OCI_TEST_PUSH=0
export OCI_TEST_CONTENT_DISCOVERY=0
export OCI_TEST_CONTENT_MANAGEMENT=0

export OCI_DEBUG=0

